{% extends "base.html" %}
{% load static %}
{% block title %}
GRUPOS DE PERMISOS
{% endblock title %}
{% block pagetitle %}
{% include "partials/page-title.html" with subtitle="GRUPOS PERMISOS" title="NUEVO" %}
{% endblock pagetitle %}

{% block content %}
{% include 'adminv2/grupos/form.html' %}
{% endblock content %}

{% block extra_js %}
{% include "partials/jquery.html" %}

<script src="{% static 'js/app.min.js' %}"></script>

<script>

    $(document).ready(function () {
        console.log('Inicializando Select2');
        $('.select2-multiple').select2({
            placeholder: "-- Selecciona permisos --",
            allowClear: true,
            width: '100%'  // Asegurar que ocupe todo el ancho
        });
    });

</script>
{% endblock extra_js %}